$gray: #8a8787;
$yellow: #edea24;
$red: #ed2424;
$green: #FFFFF;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}



.jumbotron {
    background-color: $gray;
    color: black;
    @include  margenes(50px, 10px); 
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $gray;
  @include  margenes(10px, 0px); 
}
.card-apolo {
	flex: 1 200px;
    @include  margenes(10px, 0px); 
}
.btn-reserva {
	width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}